@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
   padding: 0;
   margin:0;
   box-sizing: border-box;
}
/* MOBILE-FIRST */
body
{
   text-align: center;
   color: #fff;
   font-family: 'Poppins', sans-serif;
   background: #ff7a7a;
   background-image: url(/images/bg-intro-mobile.png);
}

.container{
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
}

.text{
   /*border: 1px solid blue;*/
   padding: 40px 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.text p{
   margin-top: 20px;
   line-height: 25px;
}

.registration{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 520px;
}

.try-it{
   background-color: hsl(248, 32%, 49%);
   padding: 15px 65px;
   border-radius: 7px;
   line-height: 25px;
   margin: 20px 0;
   box-shadow: 0 6px 1px rgba(0,0,0,0.17);
}
.try-it p span{
   font-weight: bold;
}
.form{
   background-color: #fff;
   border-radius: 7px;
   padding: 20px;
}
input{
   display: block;
   padding: 15px;
   width: 100%;
   font-weight: bold;
   margin-bottom: 20px;
   border-radius: 5px;
   border: 1px solid rgba(0,0,0,0.2);
}

input[type='submit']{
   background-color: hsl(154, 59%, 51%);
   font-size: 1.1em;
   font-weight: normal;
   letter-spacing: 1px;
   padding: 15px;
   text-transform: uppercase;
   color: white;
   border: none;
   cursor: pointer;
   box-shadow: 0 4px 0 hsla(154, 50%, 37%, 0.8);
}

input[type='submit']:hover{
   background-color: hsl(154, 59%, 65%);
}

input[type='submit']:active{
   transform: translateY(4px);
   box-shadow:none;
}

#terms{
   color: gray;
   font-size: 0.8em;
   padding: 0 30px;
}

#terms a{
   text-decoration: none;
   font-weight: bold;
   color: rgba(202, 17, 17, 0.637);
}

#terms a:hover{
   color: rgba(223, 20, 20, 0.877);
}

footer{
   margin: 50px 0;
}